<form method="get" action="/quizes">
   Buscar pregunta:<br>
 <input type="text" name="busq" placeholder="Criterio de búsqueda"/> <br>
 <input type="submit" value="Buscar"/>
 </form>

<table>
<% var i; for (i=0; i < quizes.length; i++) { %>
  <tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
<% } %>
</table>

<a href="/quizes/new"><button type="button">Crear pregunta </button></a>
